@font-face {
  font-family: "Gilroy";
  src: url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-size: 15px;
  min-width: 1440px;
  line-height: 30px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  color: #464646;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/*Текстовая стилизация*/

.main-header ul, .container ul, .main-footer ul, .catalog-container ul {
  list-style: none;
}

.main-header a, .container a, .main-footer a, .catalog-container a {
  text-decoration: none;
  color: #000000;
}

.header-logo {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.object-title {
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.client-navigation-item a, .client-navigation-item-catalog a, .client-navigation-item-exit a {
  line-height: 36px;
}

.site-navigation-item>a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-navigation-item a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.promo-item-features-values {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
}

.promo-item-features-categories {
  font-size: 13px;
  line-height: 20px;
}

.btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  border: none;
  text-transform: uppercase;
}

.items-categories-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

.delivery-companies li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
}

.main-footer {
  background-color: #464646;
  width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #ffc600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.site-options-footer-item a {
  color: #ffffff;
  line-height: 36px;
}

.client-navigation-footer-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.phone, .address {
  color: #ffffff;
  letter-spacing: 0em;
}

.catalog-breadcrumbs-item a {
  font-size: 14px;
  line-height: 36px;
  opacity: 0.3;
}

.filter-sort-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.catalog-sort-list-item a {
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.btn-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}


/*Декоративные элементы*/

.main-header {
  background-color: #f7e296;
}

.header-logo:hover, .client-navigation-item a:hover, .client-navigation-item-catalog a:hover, .catalog-navigation-item a:hover {
  opacity: 0.6;
}

.header-logo:active, .client-navigation-item a:active, .client-navigation-item-catalog a:active, .catalog-navigation-item a:active, .header-logo:focus, .client-navigation-item a:focus, .client-navigation-item-catalog a:focus, .catalog-navigation-item a:focus {
  opacity: 0.3;
}

.client-navigation-item:nth-child(1), .client-navigation-item-catalog:nth-child(1) {
  position: relative;
}

.site-search {
  font: inherit;
  border: none;
  background: none;
  line-height: normal;
  opacity: 0.3;
  width: 315px;
  margin: 0;
  padding: 0;
  margin-left: 98px;
}

.site-search-form {
  position: relative;
}

.site-search-label {
  position: absolute;
  margin-left: 63px;
  bottom: -5px;
}

.site-search:hover {
  opacity: 0.6;
}

.site-search:focus {
  opacity: 1;
  outline: none;
}

.site-search:focus+.site-search-btn {
  opacity: 1;
}

.site-search:focus+.site-search-btn::before {
  opacity: 1;
}

.site-search-btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  line-height: 36px;
  border: 2px solid #000000;
  width: 84px;
  min-height: 50px;
  font: inherit;
  position: absolute;
  bottom: -3px;
  opacity: 0;
}

.site-search-btn::before {
  content: "";
  width: 370px;
  height: 2px;
  background: #000000;
  position: absolute;
  right: 65px;
  bottom: -2px;
  opacity: 0;
}

.site-search-btn:hover, .site-search-btn:focus, .site-search-btn:active {
  background: #000000;
  color: #ffffff;
  opacity: 1;
  outline: none;
}

.site-search-btn:active::before, .site-search-btn:focus::before {
  opacity: 1;
}

.site-search-btn:active span, .site-search-btn:focus span {
  opacity: 0.3;
}

.client-navigation-item svg, .client-navigation-item-catalog svg {
  padding-right: 11px;
}

.items-categories-decoration {
  background-color: rgba(247, 226, 150, 0.5);
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.items-categories-link:active, .items-categories-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.item-title-short {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
}

.items-categories-decoration svg {
  margin: auto;
}

.items-categories-list li:nth-child(2) svg {
  margin-bottom: 3px;
}

.items-categories-link:hover .items-categories-decoration {
  background-color: #f0c52e;
}

.items-categories-link:active svg, .items-categories-link:focus svg {
  opacity: 0.3;
}

.partners-list-item {
  width: 260px;
  height: 100px;
  opacity: 0.2;
}

.partners-list-item:hover {
  opacity: 1;
}

.partners-list-item:nth-child(1) {
  background-image: url("../img/logo-1.png");
}

.partners-list-item:nth-child(1):hover {
  background-image: url("../img/logo-1-colored.png");
}

.partners-list-item:nth-child(2) {
  background-image: url("../img/logo-2.png");
}

.partners-list-item:nth-child(2):hover {
  background-image: url("../img/logo-2-colored.png");
}

.partners-list-item:nth-child(3) {
  background-image: url("../img/logo-3.png");
}

.partners-list-item:nth-child(3):hover {
  background-image: url("../img/logo-3-colored.png");
}

.partners-list-item:nth-child(4) {
  background-image: url("../img/logo-4.png");
}

.partners-list-item:nth-child(4):hover {
  background-image: url("../img/logo-4-colored.png");
}

.services {
  background-color: #e5e5e5;
  width: 1440px;
  margin: 0 auto;
}

.logo:hover, .site-options-footer-item a:hover, .client-navigation-footer-item a:hover, .social-btn:hover, .html-logo:hover {
  opacity: 0.6;
}

.logo:active, .site-options-footer-item a:active, .client-navigation-footer-item a:active, .html-logo:active, .logo:focus, .site-options-footer-item a:focus, .client-navigation-footer-item a:focus, .html-logo:focus {
  opacity: 0.3;
}

.site-options-footer-item svg {
  padding-right: 10px;
}

.social-btn {
  opacity: 0.3;
}

.social-btn:active, .social-btn:focus {
  opacity: 0.1;
}

.client-navigation-item-exit {
  opacity: 0.3;
}

.catalog-breadcrumbs-item:nth-child(1)::after, .catalog-breadcrumbs-item:nth-child(2)::after {
  content: url("../img/nav-arrow.svg");
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-breadcrumbs-item a:hover {
  opacity: 0.6;
}

.catalog-breadcrumbs-item a:active, .catalog-breadcrumbs-item a:focus {
  opacity: 0.1;
}

.catalog-sort-list-item a, .catalog-sort-icons a {
  opacity: 0.3;
}

.catalog-sort-list-item a:hover, .catalog-sort-icons a:hover {
  opacity: 0.6;
}

.catalog-sort-list-item a:active, .catalog-sort-icons:focus, .catalog-sort-list-item a:focus, .catalog-sort-icons:active {
  opacity: 1;
}

.catalog-sort-list-item:nth-child(1) a {
  opacity: 1;
}

.svgimage:focus {
  opacity: 1;
}

.catalog-filter-bluetooth-list label, .catalog-filter-color-list label
{
  font-size: 14px;
  line-height: 40px;
}

.catalog-items-navigation {
  background: #ebebeb;
  width: 760px;
}

.item .compare-item {
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.btn-navigation-number {
  opacity: 0.3;
}

.btn-navigation-number:hover {
  opacity: 0.6;
}

.btn-navigation-number:active, .btn-navigation-number:focus {
  opacity: 1;
}

.btn-navigation-forward, .btn-navigation-backward {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  text-align: center;
  margin: 0;
  padding: 25px 28px;
}

.btn-navigation-forward:hover, .btn-navigation-backward:hover {
  background: #d9d9d9;
}

.btn-navigation-forward:active, .btn-navigation-backward:active, .btn-navigation-forward:focus, .btn-navigation-backward:focus {
  color: rgba(0, 0, 0, 0.3);
}

.item:hover img {
  opacity: 0.6;
}

.item {
  position: relative;
}

.label-new {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  position: absolute;
  right: 25px;
  top: 33px;
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.item .btn {
  position: absolute;
  border: none;
  background: none;
  background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: -o-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  top: 180px;
  left: 80px;
  width: 200px;
  z-index: -10;
}

.item .compare-item {
  position: absolute;
  top: 230px;
  left: 110px;
  z-index: -10;
  border: none;
  background: none;
}

.item .compare-item:hover {
  opacity: 1;
}

.item .compare-item:active, .item .compare-item:focus {
  opacity: 0.2;
  outline: none;
}

.item:hover .btn {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 200px;
    height: 42px;
  z-index: 2;
}

.item:hover .btn:hover{
  position: absolute;
  top: 180px;
  left: 80px;
  width: 200px;
    height: 42px;
  z-index: 2;
  background-image: none;
  background: #f0c52e;
}

.item:hover .btn:active, .item:hover .btn:focus{
  position: absolute;
  top: 180px;
  left: 80px;
  width: 200px;
  background-image: none;
    color: rgba(0, 0, 0, 0.3);
    height: 42px;
    background-color: #f0c52e;
  outline: none;
}



.item:hover .compare-item {
  position: absolute;
  top: 230px;
  left: 110px;
  z-index: 2;
}

.catalog-item-price {
  margin-top: 20px;
}

.catalog-items-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 71px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-bottom: 63px;
}

.catalog-items-navigation li, .catalog-items-navigation-numbers li {
  margin: 0;
  padding: 0;
}

.catalog-items-navigation-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90px;
  margin-right: 198px;
  padding-top: 20px;
}

.btn-navigation-backward {
  padding: 25px 6px;
  margin-right: 205px;
}

.btn-navigation-forward {
  padding: 25px 7px;
  margin: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 222px;
  height: 22px;
  background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 15px, #f0c52e 15px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: -o-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 15px, #f0c52e 15px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 15px, #f0c52e 15px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  text-align: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn:hover {
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  min-width: 222px;
  height: 22px;
  background-color: #f0c52e;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn:active, .btn:focus {
  display: inline-block;
  vertical-align: middle;
  background-image: none;
  color: rgba(0, 0, 0, 0.3);
  min-width: 222px;
  height: 22px;
  background-color: #f0c52e;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.about-us .btn, .contacts .btn {
  min-width: 260px;
}

.about-us .btn:hover, .contacts .btn:hover {
  min-width: 260px;
}

.about-us .btn:active, .contacts .btn:active, .about-us .btn:focus, .contacts .btn:focus {
  min-width: 260px;
}

.service-list-item .btn {
  min-width: 160px;
}

.service-list-item .btn:hover {
  min-width: 160px;
}

.service-list-item .btn:active, .service-list-item .btn:focus {
  min-width: 260px;
  background-color: #000000;
  color: #f0c52e;
  padding-left: 20px;
  text-align: left;
}

.service-list-item .btn-delivery {
  min-width: 260px;
  background-color: #000000;
  color: #f0c52e;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 22px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  border: none;
  text-transform: uppercase;
}

.promo-slider-controls {
  position: absolute;
  bottom: 152px;
  right: 75px;
  z-index: 10;
}

input[type=radio] {
  display: none;
}

.promo-slider-controls label {
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 15px;
}

.selfie-stick:checked~.promo-slider-controls label[for="selfie-stick"], .fitness-bracelet:checked~.promo-slider-controls label[for="fitness-bracelet"], .quadrocopter:checked~.promo-slider-controls label[for="quadrocopter"] {
  background-image: url("../img/slider-button.svg");
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  margin-top: 68px;
  margin-bottom: 70px;
  border-top: 2px solid black;
}

.catalog-filter-color {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border-top: 2px solid black;
}

.catalog-filter-color .filter-title {
  margin-top: 11px;
}

.catalog-filter-bluetooth {
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
  margin-bottom: 28px;
}

.catalog-filter-color-list input[type=checkbox] {
  display: none;
}

.catalog-filter-color-list {
  margin: 0;
  padding: 0;
  margin-top: -4px;
}

.catalog-filter-color-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-color-list label {
  padding-left: 37px;
  width: 95px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.catalog-filter-color-list label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: 0px;
  top: -5px;
}

.black:checked~label[for="black"]::before, .white:checked~label[for="white"]::before, .blue:checked~label[for="blue"]::before, .red:checked~label[for="red"]::before, .pink:checked~label[for="pink"]::before {
  content: url("../img/checkbox-on.svg");
}

.catalog-filter-color-list label:hover::before, .catalog-filter-color-list label:focus::before {
  opacity: 0.6;
}

.catalog-filter-color-list label:active::before {
  opacity: 1;
}

.catalog-filter-bluetooth-list {
  margin: 0;
  padding: 0;
  margin-top: -3px;
}

.catalog-filter-bluetooth-list input[type=radio] {
  display: none;
}

.catalog-filter-bluetooth-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-bluetooth-list label {
  position: relative;
  padding-left: 37px;
  width: 95px;
  cursor: pointer;
  outline: none;
}

.catalog-filter-bluetooth-list label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  left: 0px;
  top:-5px;
}

.yes:checked~label[for="yes"]::before, .no:checked~label[for="no"]::before {
  content: url("../img/radio-on.svg");
}

.catalog-filter-bluetooth-list label:hover::before, .catalog-filter-bluetooth-list label:focus::before {
  opacity: 0.6;
}

.catalog-filter-bluetooth-list label:active::before {
  opacity: 0.6;
}

.catalog-filter-bluetooth .filter-title {
  margin-top: 12px;
}

.catalog-filter-form .btn {
  border: none;
  background: none;
  background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: -o-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  outline: none;
  min-width: 200px;
  height: 42px;
  cursor: pointer;
}

.catalog-filter-form .btn:hover {
  background-image: none;
  height: 42px;
  background: #f0c52e;
  min-width: 200px;
  cursor: pointer;
}

.catalog-filter-form btn:active, .catalog-filter-form btn:focus {
  background-image: none;
  color: rgba(0, 0, 0, 0.3);
  height: 42px;
  background-color: #f0c52e;
  min-width: 200px;
  cursor: pointer;
}

.price-range {
  width: 200px;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
  margin-left: 0px;
  top:2px;
}

.price-range-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 2px;
  background-color: #91c92f;
}

.price-min-button {
  background-image: url("../img/filter-button.svg");
  background-repeat: none;
  position: absolute;
  top: -8px;
  left: -5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.price-max-button {
  background-image: url("../img/filter-button.svg");
  background-repeat: none;
  border: none;
  position: absolute;
  top: -8px;
  right: 70px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.price-min-button:active, .price-max-button:active, .price-min-button:focus, .price-max-button:focus {
  background-image: url("../img/filter-button-big.svg");
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.price-min {
  position: absolute;
  top: 9px;
  width: 30px;
  opacity: 0.2;
}

.price-max {
  position: absolute;
  top: 9px;
  left: 87px;
  width: 80px;
  opacity: 0.2;
}

.catalog-filter-price .filter-title {
  margin-top: 10px;
  margin-bottom: 35px;
}


/*оформление сетки*/

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  min-height: 300px;
}

.header-logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -28px;
  left: 57px;
}

.client-navigation, .client-navigation-catalog {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 42px;
  margin-bottom: 31px;
  padding-top: 41px;
}

.client-navigation-item:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-left: 188px;
  margin-right: 217px;
}

.client-navigation-item:nth-child(3) {
  margin: 0;
  padding: 0;
  margin-right: 43px;
}

.client-navigation-item:nth-child(4) {
  margin: 0;
  padding: 0;
}

.client-navigation-item-catalog:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-left: 190px;
  margin-right: 20px;
}

.client-navigation-item-exit {
  margin: 0;
  padding: 0;
  margin-right: 65px;
}

.client-navigation-item-catalog:nth-child(4) {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
}

.site-navigation-item, .site-navigation-item a {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.catalog-navigation-link::after {
  content: url(../img/plus.svg);
  opacity: 0.3;
  margin-left: 10px;
}

.site-navigation-item-catalog:hover .visually-hidden, .site-navigation-item-catalog:active .visually-hidden, .site-navigation-item-catalog:focus .visually-hidden {
  position: absolute;
  clip: auto;
  width: 570px;
  min-height: 100px;
  margin: 0;
}

.site-navigation-item:hover>a {
  opacity: 0.6;
}

.site-navigation-item:active>a, .site-navigation-item a:focus {
  opacity: 0.3;
}

.site-navigation-item:nth-child(1) {
  margin-left: 40px;
}

.site-navigation-item:nth-child(2) {
  margin-left: 275px;
}

.site-navigation-item:nth-child(3) {
  margin-left: 17px;
}

.site-navigation-item:nth-child(4) {
  margin-left: 85px;
}

.catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 570px;
  min-height: 100px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 550px;
  padding-left: 40px;
  position: absolute;
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  background-color: #f7e296;
  opacity: 1;
  z-index: 5;
}

.catalog-navigation-item:nth-child(5) {
  margin-left: 10px;
  margin-right: 215px;
}

.catalog-navigation-item:nth-child(6) {
  margin-right: 300px;
}

.promo-slider-inner {
  margin: 0;
  padding: 0;
  margin-top: -115px;
  margin-bottom: 95px;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}

.promo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.slider-photo-wrapper {
  width: 590px;
  padding: 0;
}

.first-photo-wrapper img {
  margin: 0;
  margin-top: -75px;
  margin-left: 88px;
}

.promo-item-description {
  margin-left: 10px;
  position: relative;
}

.promo-item-description:nth-child(2)::before {
  content: "01";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(2)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description:nth-child(3)::before {
  content: "02";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(3)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description:nth-child(4)::before {
  content: "03";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(4)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description h3 {
  margin: 0;
  padding: 0;
}

.promo-item-description p {
  margin-top: 20px;
  margin-bottom: 45px;
  max-width: 550px;
}

.slider-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
  position: relative;
}

.slider-info-wrapper a {
  margin-right: 220px;
}

.promo-item-features {
  margin: 0;
  padding: 0
}

.promo-item-features-values td {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.promo-item-features-values td:nth-child(1) {
  width: 155px;
}

.promo-item-features-values td:nth-child(2) {
  width: 140px;
}

.promo-item-features-values td:nth-child(3) {
  width: 150px;
}

.items-categories {
  margin: 0;
  padding: 0;
}

.items-categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 185px;
}

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 290px;
  margin-bottom: 95px;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 276px;
  margin-top: -20px;
  position: relative;
}

.services-list::before {
  content: "";
  width: 7px;
  height: 320px;
  background: #000000;
  position: absolute;
  left: 277px;
  top: -83px;
}

.services-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.service-type-description h3 {
  margin-top: -45px;
  margin-left: 85px;
  margin-bottom: 12px;
}

.service-delivery, .service-warranty, .service-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 85px;
}

.service-delivery p, .service-warranty p, .service-credit p {
  max-width: 435px;
}

.service-delivery svg, .service-warranty svg, .service-credit svg {
  margin-left: 125px;
  margin-top: -54px;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 95px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.about-us {
  padding: 0;
  margin: 0;
  width: 480px;
  margin-right: 120px;
  position: relative;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 560px;
  position: relative;
}

.about-us .object-title, .contacts .object-title {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 40px;
  position: relative;
}

.about-us p {
  margin-bottom: 28px;
  width: 500px;
}

.about-us .object-title::before, .contacts .object-title::before {
  content: "";
  height: 7px;
  width: 80px;
  position: absolute;
  background-color: #000000;
  top: -50px;
  left: 0;
}

.delivery-companies {
  margin-top: 72px;
  padding: 0;
  padding-left: 34px;
  margin-bottom: 57px;
}

.delivery-companies li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  top: 10px;
  left: -30px;
}

.contacts img {
  margin-top: 22px;
  margin-bottom: 58px;
}

.site-options-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}


.site-options-footer-wrapper .logo {
  margin: 0;
  padding: 0;
  margin-top: 55px;
  margin-left: -3px;
}



.site-options-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 327px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-options-footer-catalog
{
  margin-top: 67px;
}

.navigation-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
}

.navigation-footer-wrapper-catalog
{
  margin-top: 11px;
}

.navigation-footer-wrapper .address {
  margin-right: 163px;
}

.client-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 430px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 197px;
}

.footer-low-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 505px;
  margin-right: 200px;
  margin-bottom: 70px;
}

.social-btns li {
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.social-btns::before {
  content: "";
  height: 7px;
  width: 80px;
  background-color: #ffc600;
  position: absolute;
  left: -505px;
  top: 10px;
}

.catalog-title {
  position: relative;
  z-index: 2;
  margin-top: -155px;
  background: #ffffff;
}

.catalog-title .object-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 13px;
}

.catalog-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 57px;
  margin-bottom: 40px;
}

.filter-sort-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
  background-image: -webkit-linear-gradient(left, #dbdbdb, #dbdbdb 470px, #ebebeb 470px, #ebebeb);
  background-image: -o-linear-gradient(left, #dbdbdb, #dbdbdb 470px, #ebebeb 470px, #ebebeb);
  background-image: linear-gradient(to right, #dbdbdb, #dbdbdb 470px, #ebebeb 470px, #ebebeb);
  width: 1440px;
  margin: 0 auto;
}

.filter-sort-title:nth-child(1) {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 201px;
  margin-right: 105px;
}

.filter-sort-title:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 155px;
  margin-right: 54px;
}

.filter-sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter-items {
  background-color: #eeeeee;
  width: 200px;
  padding-left: 200px;
  padding-right: 70px;
}

.catalog-gallery-list {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 140px;
  margin-top: 65px;
  margin-bottom: 5px;
}

.catalog-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 282px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 235px;
}

.catalog-sort-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 42px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 45px;
}

.catalog-item-name
{
  margin: 0;
  margin-top: 25px;
}

.catalog-gallery-list-item {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  position: relative;
}

@-webkit-keyframes modal-slide {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  70% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes modal-slide {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  70% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
}

.modal-write-us {
  display: none;
  background-color: #ffffff;
  width: 760px;
  bottom: 1000px;
  left: 350px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  min-height: 455px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

.modal-map {
  display: none;
  width: 760px;
  bottom: 1000px;
  left: 350px;
  position: relative;
}

.map-wrapper {
  position: relative;
  width: 990px;
}

.modal-map-close {
  background: none;
  border: none;
  outline: none;
  opacity: 0.5;
  position: absolute;
  right: 32px;
  top: 23px;
  z-index: 10;
}

.modal-map-close:hover {
  opacity: 1;
}

.modal-map-close:focus {
  opacity: 0.3;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-show {
  display: block;
  -webkit-animation: modal-slide 1.2s;
  animation: modal-slide 1.2s;
}

.modal-error {
  -webkit-animation: shake 1.2s;
  animation: shake 1.2s;
}

.email-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 40px;
  width: 350px;
}

.modal-write-us label:nth-child(1) {
  margin-right: 40px;
}

.email-name-wrapper input[type="text"], .email-name-wrapper input[type="email"] {
  width: 330px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  background-color: #f2f2f2;
  margin-top: 12px;
  border: none;
  opacity: 0.4;
  outline: none;
  border: 4px solid rgba(0, 0, 0, 0);
}

.modal-write-us textarea {
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  background: #f2f2f2;
  padding-left: 20px;
  padding-top: 16px;
  margin-top: 12px;
  margin-bottom: 40px;
  border: none;
  opacity: 0.4;
  outline: none;
  resize: none;
  border: 4px solid rgba(0, 0, 0, 0);
}

.email-name-wrapper input[type="text"]:hover, .email-name-wrapper input[type="email"]:hover, .modal-write-us textarea:hover {
  opacity: 1;
}

.email-name-wrapper input[type="text"]:focus, .email-name-wrapper input[type="email"]:focus, .modal-write-us textarea:focus {
  border: 4px solid #f7e296;
  background: none;
}

.email-name-wrapper input[type="text"]:invalid, .email-name-wrapper input[type="email"]:invalid, .modal-write-us textarea:invalid {
  opacity: 0.5;
  background: #f6dada;
}

.modal-write-us .btn {
  border: none;
  height: 42px;
  background: none;
  background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 27px, rgba(256, 256, 256, 0) 27px, rgba(256, 256, 256, 0));
  background-image: -o-linear-gradient(top, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 27px, rgba(256, 256, 256, 0) 27px, rgba(256, 256, 256, 0));
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 17px, #f0c52e 17px, #f0c52e 27px, rgba(256, 256, 256, 0) 27px, rgba(256, 256, 256, 0));
  outline: none;
}

.modal-write-us .btn:hover {
  background-image: none;
  height: 42px;
  background: #f0c52e;
}

.modal-write-us btn:active, .modal-write-us btn:focus {
  background-image: none;
  color: rgba(0, 0, 0, 0.3);
  height: 42px;
  background-color: #f0c52e;
}

.modal-write-us-close {
  background: none;
  border: none;
  outline: none;
  opacity: 0.5;
  position: absolute;
  right: 22px;
  top: 23px;
}

.modal-write-us-close:hover {
  opacity: 1;
}

.modal-write-us-close:focus {
  opacity: 0.3;
}
