@font-face {
  font-family: "Gilroy";
  src: url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_gilroy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-size: 15px;
  min-width: 1440px;
  line-height: 30px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: lighter;
  color: #464646;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}


/*Текстовая стилизация*/

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #000000;
}

.header-logo {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.object-title {
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.client-navigation-item a, .client-navigation-item-catalog a, .client-navigation-item-exit a {
  line-height: 36px;
}

.site-navigation-item>a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-navigation-item a {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.promo-item-features-values {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
}

.promo-item-features-categories {
  font-size: 13px;
  line-height: 20px;
}

.btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  border: none;
  text-transform: uppercase;
}

.items-categories-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

.delivery-companies li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
}

.main-footer {
  background-color: #464646;
  width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #ffc600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.site-options-footer-item a {
  color: #ffffff;
  line-height: 36px;
}

.client-navigation-footer-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.phone, .address {
  color: #ffffff;
  letter-spacing: 0em;
}

.catalog-breadcrumbs-item a {
  font-size: 14px;
  line-height: 36px;
  opacity: 0.3;
}

.filter-sort-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.catalog-sort-list-item a {
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.btn-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}


/*Декоративные элементы*/

.main-header {
  background-color: #f7e296;
}

.header-logo:hover, .client-navigation-item a:hover, .client-navigation-item-catalog a:hover .site-navigation-item a:hover, .catalog-navigation-item a:hover {
  opacity: 0.6;
}

.header-logo:active, .client-navigation-item a:active, .client-navigation-item-catalog a:active .site-navigation-item a:active, .catalog-navigation-item a:active {
  opacity: 0.3;
}

.site-search {
  font: inherit;
  border: none;
  background: none;
  line-height: 36px;
  opacity: 0.3;
}

.site-search:hover {
  opacity: 0.6;
}

.site-search:focus {
  opacity: 1;
}

.site-search-btn {
  background: none;
  line-height: 36px;
  border: 1px solid #000000;
}

.site-search-btn:hover, .site-search-btn:focus {
  background: #000000;
  color: #ffffff;
}

.site-search-btn:active span {
  opacity: 0.3;
}

.client-navigation-item svg, .client-navigation-item-catalog svg {
  padding-right: 11px;
}

.items-categories-decoration {
  background-color: rgba(247, 226, 150, 0.5);
  width: 160px;
  height: 160px;
  display: flex;
  margin-bottom: 34px;
}

.item-title-short {
  display: inline-block;
  width: 120px;
}

.items-categories-decoration svg {
  margin: auto;
}

.items-categories-list li:nth-child(2) svg {
  margin-bottom: 3px;
}

.items-categories-decoration:hover {
  background-color: #f0c52e;
}

.items-categories-decoration:active svg {
  opacity: 0.3;
}

.partners-list-item {
  width: 260px;
  height: 100px;
  opacity: 0.2;
}

.partners-list-item:hover {
  opacity: 1;
}

.partners-list-item:nth-child(1) {
  background-image: url("../img/logo-1.png");
}

.partners-list-item:nth-child(1):hover {
  background-image: url("../img/logo-1-colored.png");
}

.partners-list-item:nth-child(2) {
  background-image: url("../img/logo-2.png");
}

.partners-list-item:nth-child(2):hover {
  background-image: url("../img/logo-2-colored.png");
}

.partners-list-item:nth-child(3) {
  background-image: url("../img/logo-3.png");
}

.partners-list-item:nth-child(3):hover {
  background-image: url("../img/logo-3-colored.png");
}

.partners-list-item:nth-child(4) {
  background-image: url("../img/logo-4.png");
}

.partners-list-item:nth-child(4):hover {
  background-image: url("../img/logo-4-colored.png");
}

.services {
  background-color: #e5e5e5;
  width: 1440px;
  margin: 0 auto;
}

.logo:hover, .site-options-footer-item a:hover, .client-navigation-footer-item a:hover, .social-btn:hover, .html-logo:hover {
  opacity: 0.6;
}

.logo:active, .site-options-footer-item a:active, .client-navigation-footer-item a:active, .html-logo:active {
  opacity: 0.3;
}

.site-options-footer-item svg {
  padding-right: 10px;
}

.social-btn {
  opacity: 0.3;
}

.social-btn:active {
  opacity: 0.1;
}

.client-navigation-item-exit {
  opacity: 0.3;
}

.catalog-breadcrumbs-item:nth-child(1)::after, .catalog-breadcrumbs-item:nth-child(2)::after {
  content: url("../img/nav-arrow.svg");
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-breadcrumbs-item a:hover {
  opacity: 0.6;
}

.catalog-breadcrumbs-item a:active {
  opacity: 0.1;
}

.catalog-sort-list-item a, .catalog-sort-icons a {
  opacity: 0.3;
}

.catalog-sort-list-item a:hover, .catalog-sort-icons a:hover {
  opacity: 0.6;
}

.catalog-sort-list-item a:active, .catalog-sort-icons a:active {
  opacity: 1;
}

.catalog-items-navigation {
  background: #ebebeb;
}

.catalog-gallery-list-item .item .compare-item {
  font-size: 13px;
  line-height: 36px;
  opacity: 0.5;
}

.btn-navigation-number {
  opacity: 0.3;
}

.btn-navigation-number:hover {
  opacity: 0.6;
}

.btn-navigation-number:active {
  opacity: 1;
}

.btn-navigation-forward, .btn-navigation-backward {
  position: relative;
}

.btn-navigation-forward:hover::before, .btn-navigation-backward:hover::before, .btn-navigation-forward:focus::before, .btn-navigation-backward:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 80px;
  background: rgba(235, 235, 235, 0.08);
}

.btn-navigation-forward:active, .btn-navigation-backward:active {
  opacity: 0.3;
}

.item:hover img {
  opacity: 0.6;
}

.catalog-gallery-list-item .item .btn {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 200px;
  z-index: -10;
}

.catalog-gallery-list-item .item .compare-item {
  position: absolute;
  top: 230px;
  left: 110px;
  z-index: -10;
}

.catalog-gallery-list-item .item .compare-item:hover {
  opacity: 1;
}

.catalog-gallery-list-item .item .compare-item:active {
  opacity: 0.2;
}

.catalog-gallery-list-item .item:hover .btn {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 200px;
  z-index: 2;
}

.catalog-gallery-list-item .item:hover .compare-item {
  position: absolute;
  top: 230px;
  left: 110px;
  z-index: 2;
}

.catalog-item-price {
  margin-top: 20px;
}

.catalog-items-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -6px;
  margin-bottom: 70px;
}

.catalog-items-navigation-numbers {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 90px;
  margin-right: 235px;
}

.btn-navigation-backward {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 235px;
}

.btn-navigation-forward {
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.btn {
  display: inline-block;
  width: 222px;
  height: 22px;
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 15px, #f0c52e 15px, #f0c52e 25px, rgba(256, 256, 256, 0) 25px, rgba(256, 256, 256, 0));
  vertical-align: center;
  text-align: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn:hover {
  display: inline-block;
  background-image: none;
  width: 222px;
  height: 22px;
  background-color: #f0c52e;
  vertical-align: center;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn:active {
  display: inline-block;
  background-image: none;
  color: rgba(0, 0, 0, 0.3);
  width: 222px;
  height: 22px;
  background-color: #f0c52e;
  vertical-align: center;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.about-us .btn, .contacts .btn {
  width: 260px;
}

.about-us .btn:hover, .contacts .btn:hover {
  width: 260px;
}

.about-us .btn:active, .contacts .btn:active {
  width: 260px;
}

.service-list-item .btn {
  width: 160px;
}

.service-list-item .btn:hover {
  width: 160px;
}

.service-list-item .btn:active {
  width: 260px;
  background-color: #000000;
  color: #f0c52e;
  padding-left: 20px;
  text-align: left;
}

.promo-slider-controls {
  position: absolute;
  top: 325px;
  right: 75px;
  z-index: 10;
}

input[type=radio] {
  display: none;
}

.promo-slider-controls label {
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 15px;
}

#selfie-stick:checked~.promo-slider-controls label[for="selfie-stick"], #fitness-bracelet:checked~.promo-slider-controls label[for="fitness-bracelet"], #quadrocopter:checked~.promo-slider-controls label[for="quadrocopter"] {
  background-image: url("../img/slider-button.svg");
}

.catalog-filter-price {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  border-top: 2px solid black;
}

.catalog-filter-color {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border-top: 2px solid black;
}

.catalog-filter-color .filter-title {
  margin-top: 10px;
}

.catalog-filter-bluetooth {
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
  margin-bottom: 30px;
}

.catalog-filter-color-list input[type=checkbox] {
  display: none;
}

.catalog-filter-color-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-color-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-color-list label {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  padding-left: 35px;
  width: 95px;
  height: 30px;
  margin-bottom: 10px;
}

#black:checked~label[for="black"], #white:checked~label[for="white"], #blue:checked~label[for="blue"], #red:checked~label[for="red"], #pink:checked~label[for="pink"] {
  background-image: url("../img/checkbox-on.svg");
}

.catalog-filter-bluetooth-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-bluetooth-list input[type=radio] {
  display: none;
}

.catalog-filter-bluetooth-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-bluetooth-list label {
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  padding-left: 35px;
  width: 95px;
  height: 30px;
  margin-bottom: 10px;
}

#yes:checked~label[for="yes"], #no:checked~label[for="no"] {
  background-image: url("../img/radio-on.svg");
}

.catalog-filter-bluetooth .filter-title {
  margin-top: 10px;
}

.catalog-filter-items .btn {
  width: 200px;
}

.price-range {
  width: 200px;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
  margin-left: 0px;
}

.price-range-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 2px;
  background-color: #91c92f;
}

.price-min-button {
  background-image: url("../img/filter-button.svg");
  background-repeat: none;
  position: absolute;
  top: -8px;
  left: -5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
}

.price-max-button {
  background-image: url("../img/filter-button.svg");
  background-repeat: none;
  border: none;
  position: absolute;
  top: -8px;
  right: 70px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.price-min-button:active, .price-max-button:active {
  background-image: url("../img/filter-button-big.svg");
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.price-min {
  position: absolute;
  top: 9px;
  width: 30px;
  opacity: 0.2;
}

.price-max {
  position: absolute;
  top: 9px;
  left: 80px;
  width: 80px;
  opacity: 0.2;
}

.catalog-filter-price .filter-title {
  margin-top: 10px;
  margin-bottom: 35px;
}


/*оформление сетки*/

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  min-height: 300px;
}

.header-logo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -28px;
  left: 57px;
}

.client-navigation, .client-navigation-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 42px;
  margin-bottom: 35px;
  padding-top: 41px;
}

.site-search {
  width: 120px;
  margin: 0;
  padding: 0;
  margin-right: 384px;
  margin-left: 5px;
}

.site-search-label {
  margin-left: 62px;
}

.client-navigation-item:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-right: 217px;
}

.client-navigation-item:nth-child(3) {
  margin: 0;
  padding: 0;
  margin-right: 43px;
}

.client-navigation-item:nth-child(4) {
  margin: 0;
  padding: 0;
}

.client-navigation-item-catalog:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.client-navigation-item-exit {
  margin: 0;
  padding: 0;
  margin-right: 65px;
}

.client-navigation-item-catalog:nth-child(4) {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.site-navigation-item, .site-navigation-item a {
  margin: 0;
  padding: 0;
}

.catalog-navigation-link::after {
  content: url(../img/plus.svg);
  opacity: 0.3;
  margin-left: 10px;
}

.catalog-navigation-link {
  position: relative;
}

.catalog-navigation-link:link::before {
  content: "";
  width: 1100px;
  height: 130px;
  background-color: #f7e296;
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 1;
}

.catalog-navigation-link:hover::before, .catalog-navigation-link:hover::before {
  content: "";
  width: 1160px;
  height: 150px;
  background-color: #f7e296;
  position: absolute;
  top: 35px;
  left: -60px;
  z-index: 3;
}

.catalog-navigation-link:hover+ul, .catalog-navigation-link:active+ul {
  z-index: 4;
}

.site-navigation-item:nth-child(1) {
  margin-left: 60px;
  margin-right: 297px;
}

.site-navigation-item:nth-child(2) {
  margin-right: 34px;
}

.site-navigation-item:nth-child(3) {
  margin-right: 111px;
}

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 555px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 15px;
  position: absolute;
}

.catalog-navigation-item:nth-child(1) {
  margin-right: 60px;
}

.catalog-navigation-item:nth-child(2) {
  margin-right: 77px;
}

.catalog-navigation-item:nth-child(4) {
  margin-right: 84px;
}

.catalog-navigation-item:nth-child(5) {
  margin-right: 220px;
}

.promo-slider-inner {
  margin: 0;
  padding: 0;
  margin-top: -115px;
  margin-bottom: 95px;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}

.promo-item {
  display: flex;
}

.slider-photo-wrapper {
  width: 590px;
  padding: 0;
}

.promo-item:nth-child(1) .slider-photo-wrapper img {
  margin: 0;
  margin-top: -75px;
  margin-left: 88px;
}

.promo-item-description {
  margin-left: 10px;
  position: relative;
}

.promo-item-description:nth-child(2)::before {
  content: "01";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(2)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description:nth-child(3)::before {
  content: "02";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(3)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description:nth-child(4)::before {
  content: "03";
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: -90px;
  right: -30px;
}

.promo-item-description:nth-child(4)::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
}

.promo-item-description h3 {
  margin: 0;
  padding: 0;
}

.promo-item-description p {
  margin-top: 20px;
  margin-bottom: 45px;
}

.slider-info-wrapper {
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

.slider-info-wrapper a {
  margin-right: 220px;
}

.promo-item-features {
  margin: 0;
  padding: 0
}

.promo-item-features-values td {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.promo-item-features-values td:nth-child(1) {
  width: 155px;
}

.promo-item-features-values td:nth-child(2) {
  width: 140px;
}

.promo-item-features-values td:nth-child(3) {
  width: 150px;
}

.items-categories {
  margin: 0;
  padding: 0;
}

.items-categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 185px;
}

.services .wrapper {
  display: flex;
  min-height: 290px;
  margin-bottom: 95px;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 276px;
  margin-top: -20px;
  position: relative;
}

.services-list::before {
  content: "";
  width: 7px;
  height: 320px;
  background: #000000;
  position: absolute;
  left: 276px;
  bottom: 70px;
}

.services-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.service-type-description h3 {
  margin-top: -45px;
  margin-left: 85px;
  margin-bottom: 12px;
}

.service-delivery, .service-warranty, .service-credit {
  display: flex;
  padding-left: 85px;
}

.service-delivery svg, .service-warranty svg, .service-credit svg {
  margin-left: 143px;
  margin-top: -54px;
}

.partners-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 95px;
  justify-content: space-between;
}

.additional-info {
  display: flex;
  margin-bottom: 80px;
}

.about-us {
  padding: 0;
  margin: 0;
  margin-right: 120px;
  position: relative;
}

.contacts {
  margin: 0;
  padding: 0;
  width: 560px;
  position: relative;
}

.about-us .object-title, .contacts .object-title {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 40px;
  position: relative;
}

.about-us p {
  margin-bottom: 28px;
}

.about-us .object-title::before, .contacts .object-title::before {
  content: "";
  height: 7px;
  width: 80px;
  position: absolute;
  background-color: #000000;
  top: -47px;
  left: 0;
}

.delivery-companies {
  margin-top: 72px;
  padding: 0;
  padding-left: 34px;
  margin-bottom: 58px;
}

.delivery-companies li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
}

.contacts img {
  margin-top: 25px;
  margin-bottom: 58px;
}

.site-options-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.site-options-footer-wrapper .logo {
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.site-options-footer {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 327px;
  justify-content: space-between;
}

.navigation-footer-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.navigation-footer-wrapper .address {
  margin-right: 160px;
}

.client-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 430px;
  justify-content: space-between;
  margin-right: 180px;
}

.footer-low-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social-btns {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 505px;
  margin-right: 200px;
  margin-bottom: 70px;
}

.social-btns li {
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.social-btns::before {
  content: "";
  height: 7px;
  width: 80px;
  background-color: #ffc600;
  position: absolute;
  left: -505px;
  top: 10px;
}

.catalog .site-navigation-item:nth-child(1) {
  margin-left: 60px;
  margin-right: 300px;
}

.catalog-title {
  position: relative;
  z-index: 2;
  margin-top: -155px;
  background: #ffffff;
}

.catalog-title .object-title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 13px;
}

.catalog-breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 57px;
  margin-bottom: 40px;
}

.filter-sort-heading {
  display: flex;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, #dbdbdb, #dbdbdb 470px, #ebebeb 470px, #ebebeb);
  width: 1440px;
  margin: 0 auto;
}

.filter-sort-title:nth-child(1) {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 105px;
}

.filter-sort-title:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 155px;
  margin-right: 20px;
}

.filter-sort-wrapper {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter-items {
  background-color: #eeeeee;
  width: 200px;
  padding-left: 200px;
  padding-right: 70px;
}

.catalog-gallery-list {
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 140px;
  margin-top: 65px;
  margin-bottom: 0px;
}

.catalog-sort-list {
  display: flex;
  width: 275px;
  margin: 0 padding:0;
  margin-top: 20px;
  justify-content: space-between;
  margin-right: 200px;
}

.catalog-sort-icons {
  display: flex;
  width: 40px;
  justify-content: space-between;
  margin: 0 padding:0;
  margin-top: 20px;
}

.item-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 25px;
}

.catalog-gallery-list-item {
  margin: 0;
  padding: 0;
  position: relative;
}
